/* Código anterior ... */

@media (max-width: 900px) {
  body footer .social {
    justify-content: start;
  }
}

@media (max-width: 768px) {
  body {
    background-image: url(../../images/bg-mobile.svg);
    background-size: cover;
    background-position: top;
  }

  main .logo img {
    padding: 40px 30px 60px 30px;
    width: 310px;
  }

  main .container {
    flex-direction: column;
    align-items: center;
  }

  main .container .ilustration-mockups {
    max-width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }

  main .container .ilustration-mockups img {
    width: 50%;
  }

  main .container .container-description {
    align-items: center;
    padding: 0 25px;
    margin: 0;
  }

  main .container .container-description .title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 35px;
  }

  main .container .container-description .description {
    font-size: 18px;
    text-align: center;
  }

  main .container .container-description .btn-register {
    font-size: 16px;
    max-width: 210px;
    padding: 14px 40px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 35px 0;
  }

  footer .social .fa-brands {
    width: 37px;
  }
}

@media (max-width: 375px) {
  main .container .ilustration-mockups img {
    width: 90%;
  }

  body {
    background-image: url(../../images/bg-mobile.svg);
    background-size: cover;
    background-position: top;
  }
}
